/* Built-in LEDs */
IO_LOC "led_done" D7;
IO_LOC "led_ready" E8;
IO_PORT "led_done" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_ready" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

/* Built-in BUTTONs */
IO_LOC "button_s1" H11;
IO_LOC "button_s2" H10;
IO_PORT "button_s1" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "button_s2" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;

/* CLOCK */
IO_LOC "clk" E2;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

/* UART */
IO_LOC "uart1_rx_data" C2;
IO_PORT "uart1_rx_data" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

/* DEBUG */
IO_LOC "debug_a10" A10;
IO_LOC "debug_e10" E10;
IO_LOC "debug_l11" L11;
IO_PORT "debug_a10" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "debug_e10" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "debug_l11" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

/* Servo PWMs */
IO_LOC "servo_pwm[0]" H4;
IO_PORT "servo_pwm[0]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[1]" H2;
IO_PORT "servo_pwm[1]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[2]" J7;
IO_PORT "servo_pwm[2]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[3]" L8;
IO_PORT "servo_pwm[3]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[4]" K10;
IO_PORT "servo_pwm[4]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[5]" K9;
IO_PORT "servo_pwm[5]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[6]" K8;
IO_PORT "servo_pwm[6]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[7]" F6;
IO_PORT "servo_pwm[7]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[8]" J10;
IO_PORT "servo_pwm[8]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[9]" G4;
IO_PORT "servo_pwm[9]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[10]" H1;
IO_PORT "servo_pwm[10]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[11]" K7;
IO_PORT "servo_pwm[11]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[12]" L7;
IO_PORT "servo_pwm[12]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[13]" L10;
IO_PORT "servo_pwm[13]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[14]" L9;
IO_PORT "servo_pwm[14]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[15]" J8;
IO_PORT "servo_pwm[15]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[16]" F7;
IO_PORT "servo_pwm[16]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "servo_pwm[17]" J11;
IO_PORT "servo_pwm[17]" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;