/* Built-in LEDs */
IO_LOC "led_done" D7;
IO_LOC "led_ready" E8;
IO_PORT "led_done" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "led_ready" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;

/* Built-in BUTTONs */
IO_LOC "button_s1" H11;
IO_LOC "button_s2" H10;
IO_PORT "button_s1" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;
IO_PORT "button_s2" PULL_MODE=DOWN DRIVE=OFF BANK_VCCIO=3.3;

/* CLOCK */
IO_LOC "clk" E2;
IO_PORT "clk" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;


/* Servo PWMs */
IO_LOC "servo_pwm1" C10;
IO_PORT "servo_pwm1" PULL_MODE=DOWN DRIVE=8 BANK_VCCIO=3.3;

/* UART */
IO_LOC "uart1_rx_data" K5;
IO_PORT "uart1_rx_data" PULL_MODE=NONE DRIVE=OFF BANK_VCCIO=3.3;

/* DEBUG */
IO_LOC "debug_a10" A10;
IO_LOC "debug_e10" E10;
IO_LOC "debug_l11" L11;
IO_PORT "debug_a10" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "debug_e10" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
IO_PORT "debug_l11" PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;